<mat-toolbar color="primary">
  <span style="cursor: pointer;" routerLink="/">Etkinlik Sitesi</span>
  <span class="example-fill-remaining-space"></span>

  <span>|</span>
  <button
    *ngIf="!userService.isAuth"
    mat-flat-button
    color="primary"
    routerLink="/register"
  >
    Üye ol
  </button>
  <button
    *ngIf="!userService.isAuth"
    mat-flat-button
    color="primary"
    routerLink="/login"
  >
    Giriş yap
  </button>

  <button *ngIf="userService.isAuth" mat-button [matMenuTriggerFor]="menu">
    Menu
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateProfile()">Profil</button>
    <button mat-menu-item (click)="logout()">Çıkış yap</button>
  </mat-menu>
</mat-toolbar>
