<div class="footer">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Etkinlik Sitesi 2020</span>
      <span class="example-spacer"></span>
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example heart icon"
        >favorite</mat-icon
      >
    </mat-toolbar-row>
  </mat-toolbar>
</div>
