<div class="container">
  <div *ngIf="isOrganizator" class="inclusive">
    <div class="menu">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <button
            mat-flat-button
            color="primary"
            style="width: 100%;"
            (click)="changeContentMenu(1)"
          >
            Etkinlik Oluştur
          </button>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button
            mat-flat-button
            color="primary"
            style="width: 100%;"
            (click)="changeContentMenu(2)"
          >
            Oluşturduğum Etkinlikler
          </button>
        </mat-list-item>

        <mat-list-item role="listitem">
          <button
            mat-flat-button
            color="primary"
            style="width: 100%;"
            (click)="changeContentMenu(3)"
          >
            Hesap Ayarları
          </button>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="content">
      <div *ngIf="organizatorCreateEvent">
        <mat-card style="width: 500px; height: 700px; margin: 20px;">
          <mat-card-header>
            <mat-card-title>Etkinlik Oluştur</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="outline">
              <mat-label>Etkinlik İsmi</mat-label>
              <input
                [(ngModel)]="event.Name"
                matInput
                placeholder="Angular Türkiye #1"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Etkinlik Açıklaması</mat-label>
              <textarea [(ngModel)]="event.Description" matInput></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Ücret</mat-label>
              <input
                [(ngModel)]="event.Price"
                matInput
                type="number"
                class="example-right-align"
              />
              <span matPrefix>₺&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Etkinlik Tarihi</mat-label>
              <input
                [(ngModel)]="event.StartingDate"
                matInput
                [matDatepicker]="picker"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Şehir</mat-label>
              <mat-select [(value)]="event.CityId">
                <mat-option *ngFor="let city of cities" [value]="city.id">{{
                  city.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Kategori</mat-label>
              <mat-select [(value)]="event.CategoryId">
                <mat-option
                  *ngFor="let category of categories"
                  [value]="category.id"
                  >{{ category.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Mekan İsmi</mat-label>
              <input
                [(ngModel)]="event.Location"
                matInput
                placeholder="Harbiye Açık Hava"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Kapasite</mat-label>
              <input [(ngModel)]="event.Capacity" matInput placeholder="50" />
            </mat-form-field>
            <button
              style="float: right; width: 50%;"
              mat-raised-button
              color="primary"
              (click)="createEventRequest()"
            >
              Etkinlik oluştur
            </button>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="organizatorMyEvents" style="margin: 20px;">
        <table
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8"
          style="width: 900px;"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Etkinlik Adı</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="startingDate">
            <th mat-header-cell *matHeaderCellDef>Tarih</th>
            <td mat-cell *matCellDef="let element">
              {{ element.startingDate | date }}
            </td>
          </ng-container>

          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef>Şehir</th>
            <td mat-cell *matCellDef="let element">{{ element.city.name }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Detay</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-flat-button
                color="primary"
                (click)="detailsAndUpdate(element)"
                style="width: 100%;"
              >
                Detay
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <div *ngIf="organizatorSettings">
        <mat-card style="height: 350px;">
          <mat-card-header>
            <mat-card-title>
              Profili güncelle
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="outline" style="width: 50%;">
              <mat-label>Ad</mat-label>
              <input [(ngModel)]="user.firstName" matInput placeholder="Avni" />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 50%;">
              <mat-label>Soyad</mat-label>
              <input [(ngModel)]="user.lastName" matInput placeholder="Genç" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                [(ngModel)]="user.email"
                matInput
                placeholder="abc@xyz.com"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 50%;">
              <mat-label>Parola</mat-label>
              <input [(ngModel)]="user.password" matInput type="password" />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 50%;">
              <mat-label>Parola (TEKRAR)</mat-label>
              <input [(ngModel)]="passwordConfirm" matInput type="password" />
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button
              style="float: right; width: 50%;"
              mat-raised-button
              color="primary"
              (click)="updateProfile()"
            >
              Güncelle
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <div *ngIf="!isOrganizator" class="inclusive">
    <div class="menu">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <button
            mat-flat-button
            color="primary"
            style="width: 100%;"
            (click)="changeContentMenu(4)"
          >
            Gittiğim Etkinlikler
          </button>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button
            mat-flat-button
            color="primary"
            style="width: 100%;"
            (click)="changeContentMenu(5)"
          >
            Hesap Ayarları
          </button>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="content">
      <div *ngIf="customerEvents">
        <table
          mat-table
          [dataSource]="dataSourceJoined"
          class="mat-elevation-z8"
          style="width: 900px;"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.event.id }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Etkinlik Adı</th>
            <td mat-cell *matCellDef="let element">{{ element.event.name }}</td>
          </ng-container>

          <ng-container matColumnDef="startingDate">
            <th mat-header-cell *matHeaderCellDef>Tarih</th>
            <td mat-cell *matCellDef="let element">
              {{ element.event.startingDate | date }}
            </td>
          </ng-container>

          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef>Şehir</th>
            <td mat-cell *matCellDef="let element">
              {{ element.event.city.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Detay</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-flat-button
                color="primary"
                (click)="detailsAndUpdate(element)"
                style="width: 100%;"
              >
                Detay
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <div *ngIf="customerSettings">
        <mat-card style="height: 350px;">
          <mat-card-header>
            <mat-card-title>
              Profili güncelle
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="outline" style="width: 50%;">
              <mat-label>Ad</mat-label>
              <input [(ngModel)]="user.firstName" matInput placeholder="Avni" />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 50%;">
              <mat-label>Soyad</mat-label>
              <input [(ngModel)]="user.lastName" matInput placeholder="Genç" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                [(ngModel)]="user.email"
                matInput
                placeholder="abc@xyz.com"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 50%;">
              <mat-label>Parola</mat-label>
              <input [(ngModel)]="user.password" matInput type="password" />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 50%;">
              <mat-label>Parola (TEKRAR)</mat-label>
              <input [(ngModel)]="passwordConfirm" matInput type="password" />
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
            <button
              style="float: right; width: 50%;"
              mat-raised-button
              color="primary"
              (click)="updateProfile()"
            >
              Güncelle
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
