.container {
  height: 100%;
  margin: 2% 10%;
}

.gridlist {
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("../../../assets/images/profile.png");
  background-size: cover;
}
