<div class="container">
  <div class="bigbutton">
    <button
      (click)="navigateEvents()"
      style="width: 100%; height: 100px;"
      mat-flat-button
      color="primary"
    >
      Tüm etkinlikleri gör
    </button>
  </div>
  <div class="gridlist">
    <mat-grid-list cols="4" rowHeight="500px">
      <mat-grid-tile *ngFor="let item of events">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ item.name }}</mat-card-title>
            <mat-card-subtitle>{{ item.city.name }}</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="../../../assets/images/party.png"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              {{ item.description }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button style="width: 100%;" mat-flat-button color="primary">
              Detaylar
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
