.container {
  margin: 2% 10%;
}

mat-form-field {
  width: 100%;
}

mat-card {
  box-shadow: none;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
