<div class="container">
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <img
        src="../../../assets/images/register.png"
        alt="register"
        style="max-height: 100%; max-width: 100%;"
      />
    </mat-grid-tile>
    <mat-grid-tile>
      <div style="margin-top: 0px; width: 80%; height: 500px;">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Katılımcı">
            <mat-card style="box-shadow: none;">
              <mat-card-header>
                <mat-card-title>
                  Etkinliklere katılmak için üye ol!
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field appearance="outline" style="width: 50%;">
                  <mat-label>Ad</mat-label>
                  <input
                    [(ngModel)]="user.FirstName"
                    matInput
                    placeholder="Avni"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 50%;">
                  <mat-label>Soyad</mat-label>
                  <input
                    [(ngModel)]="user.LastName"
                    matInput
                    placeholder="Genç"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    [(ngModel)]="user.Email"
                    matInput
                    placeholder="abc@xyz.com"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 50%;">
                  <mat-label>Parola</mat-label>
                  <input [(ngModel)]="user.Password" matInput type="password" />
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 50%;">
                  <mat-label>Parola (TEKRAR)</mat-label>
                  <input
                    [(ngModel)]="passwordConfirm"
                    matInput
                    type="password"
                  />
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                <button
                  style="float: right; width: 50%;"
                  mat-raised-button
                  color="primary"
                  (click)="register('katilimci')"
                >
                  Üye ol!
                </button>
              </mat-card-actions>
            </mat-card>
          </mat-tab>
          <mat-tab label="Etkinlik Sahibi">
            <mat-card style="box-shadow: none;">
              <mat-card-header>
                <mat-card-title>
                  Etkinlik oluşturmak için üye ol!
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field appearance="outline" style="width: 50%;">
                  <mat-label>Ad</mat-label>
                  <input
                    [(ngModel)]="user.FirstName"
                    matInput
                    placeholder="Avni"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 50%;">
                  <mat-label>Soyad</mat-label>
                  <input
                    [(ngModel)]="user.LastName"
                    matInput
                    placeholder="Genç"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    [(ngModel)]="user.Email"
                    matInput
                    placeholder="abc@xyz.com"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 50%;">
                  <mat-label>Parola</mat-label>
                  <input [(ngModel)]="user.Password" matInput type="password" />
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 50%;">
                  <mat-label>Parola (TEKRAR)</mat-label>
                  <input
                    [(ngModel)]="passwordConfirm"
                    matInput
                    type="password"
                  />
                </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                <button
                  style="float: right; width: 50%;"
                  mat-raised-button
                  color="primary"
                  (click)="register('')"
                >
                  Üye ol!
                </button>
              </mat-card-actions>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
