<div class="container">
  <mat-card *ngFor="let event of events" style="width: 50%; margin: 3% 25%;">
    <mat-card-header>
      <mat-card-title>{{ event.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >description</mat-icon
          >&nbsp; Açıklama: {{ event.description }}
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >event</mat-icon
          >
          &nbsp; Tarih: {{ event.startingDate | date }}
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >euro</mat-icon
          >&nbsp; Ücret: {{ event.price }}
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >apartment</mat-icon
          >&nbsp; Şehir: {{ event.city.name }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button
        style="width: 100%;"
        mat-flat-button
        color="primary"
        (click)="openDetails(event)"
      >
        Detaylar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
