<h1 mat-dialog-title>Detaylar</h1>
<div mat-dialog-content>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >title</mat-icon
      >&nbsp; Etkinlik Adı: {{data.name}}
    </mat-list-item>

    <mat-list-item role="listitem">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >description</mat-icon
      >&nbsp; Açıklama: {{data.description}}
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >event</mat-icon
      >
      &nbsp; Tarih: {{data.startingDate | date}}
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >euro</mat-icon
      >&nbsp; Ücret: {{data.price}}
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >apartment</mat-icon
      >&nbsp; Şehir: {{data.city.name}}
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >category</mat-icon
      >&nbsp; Kategori: {{data.category.name}}
    </mat-list-item>
    <mat-list-item role="listitem">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >people</mat-icon
      >&nbsp; Kapasite: {{data.capacity}}
    </mat-list-item>
  </mat-list>
</div>

<div mat-dialog-actions>
  <button
    style="width: 50%;"
    mat-flat-button
    color="secondary"
    (click)="onNoClick()"
  >
    Kapat
  </button>
  <button
    *ngIf="userService.isAuth"
    style="width: 50%;"
    mat-flat-button
    color="primary"
    (click)="joinEvent(data)"
  >
    Katıl
  </button>
</div>
